@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300&display=swap');

//Estilos para todo el sistema
body {
	font-family: 'Roboto', sans-serif !important;
	color: var(--text-color);
	background-color: var(--surface-ground);
}

a {
	text-decoration: none;
	color: var(--text-color);
}

.font-logo {
	font-family: 'Righteous', cursive;
}

.text-bold {
	font-weight: bold;
}

.card {
	background: var(--surface-card);
	box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014;
	border-radius: 12px;
	padding: 2vh;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	.card {
		border-radius: 4px;
		margin-bottom: 1rem;
		height: auto;
		background: var(--surface-ground);
	}
	.section-title {
		color: var(--text-color);
		font-size: 4vh;
		height: 5vh;
		border-bottom: 1px solid var(--surface-border);
	}
	.info-nutricional {
		margin-top: 2vh;
		padding-top: 0;
	}
}

.no-padding {
	padding: 0;
}

.star-icon {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: var(--border-radius);
	margin-left: 0.5rem;
	border: 1px solid var(--surface-border);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--primary-color);
}

// Estilo del scrollbar
div::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

div::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 4px;
}
div::-webkit-scrollbar-thumb:hover {
	background: var(--primary-100);
}

div::-webkit-scrollbar-thumb:active {
	background-color: var(--primary-color);
}

// Para páginas info-producto e info-receta
.img-container {
	display: flex;
	justify-content: center;
	.info-image {
		width: 100%;
		max-width: max-content;
		max-height: min-content;
	}
}

.info-table {
	width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
	border-collapse: collapse;
	border-radius: 4px !important;
}

.info-table {
	th,
	td {
		padding: 0.3rem;
		vertical-align: top;
		border-bottom: 1px solid var(--primary-color);
	}
	tr:hover {
		background-color: var(--surface-hover);
	}
}

// animacion de eliminar
.zoom {
	animation: zoom forwards 0.7s ease-out 1;
}

@keyframes zoom {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		width: 0;
		min-width: 0;
		transform: scale(0);
		opacity: 0;
		padding: 0;
		margin: 0;
	}
}
