<div class="item flex flex-wrap">
	<div
		class="img-container align-items-center col-5 sm:col-5 md:col-5 lg:col-5"
	>
		<a
			*ngIf="!this.crearReceta"
			routerLink="{{ itemRoute }}"
			cursor-pointer
		>
			<img
				[src]="imageSrc"
				(error)="updateUrl($event)"
				alt="{{ item.nombre }}"
				class="info-image shadow-2"
			/>
		</a>

		<a *ngIf="this.crearReceta" (click)="verItem()"
			><img
				[src]="imageSrc"
				(error)="updateUrl($event)"
				alt="{{ item.nombre }}"
				class="info-image shadow-2"
			/>
		</a>
	</div>
	<div
		class="flex align-content-between flex-wrap col-7 sm:col-7 md:col-7 lg:col-7"
	>
		<a *ngIf="!this.crearReceta">
			<div class="col-12 no-padding">
				<p
					class="text-bold item-title"
					pTooltip="Ver {{ item.nombre }}"
					tooltipPosition="top"
					(click)="verItem()"
				>
					{{ item.nombre }} -
					{{ item.cantidad_embase || '1 porción' }}
				</p>
			</div>
			<div class="col-12 no-padding">
				<p>{{ item.marca }}</p>
			</div>
			<div class="col-12 no-padding">
				<p>Kcal porción: {{ item.kcal_prcn }}</p>
			</div>
		</a>
		<div *ngIf="this.crearReceta">
			<div class="col-12 no-padding">
				<p
					class="text-bold item-title"
					pTooltip="Ver {{ item.nombre }}"
					tooltipPosition="top"
					(click)="verItem()"
				>
					{{ item.nombre }} -
					{{ item.cantidad_embase || '1 porción' }}
				</p>
			</div>
			<div class="col-12 no-padding">
				<p>{{ item.marca }}</p>
			</div>
			<div class="col-12 no-padding">
				<p>Kcal porción: {{ item.kcal_prcn }}</p>
			</div>
		</div>
		<div class="col-12">
			<div class="flex align-items-center justify-content-center">
				<p-button
					class="mr-2"
					label="Agregar"
					(click)="mostrarDialogAgregarPlan()"
				></p-button>
				<p-button
					*ngIf="tipoItem != 'misrecetas'"
					styleClass="p-button-rounded p-button-warning  p-button-outlined"
					[icon]="item.favorito ? 'pi pi-star-fill' : 'pi pi-star'"
					pTooltip="Favorito"
					tooltipPosition="bottom"
					(click)="toggleFavorito()"
				></p-button>
			</div>
		</div>
	</div>
</div>

<app-dialog-agregar
	*ngIf="mostrarDialog"
	[titulo]="dia"
	[item]="item"
	[editar]="false"
	[crearReceta]="crearReceta"
	[visible]="mostrarDialog"
	(agregarItemPlanEvent)="agregarItemPlan($event)"
	(agregarItemRecetaEvent)="agregarItemReceta($event)"
></app-dialog-agregar>

<app-dialog-ver-producto
	*ngIf="dialogVerProducto"
	[visible]="dialogVerProducto"
	[id_producto]="idProductoVer"
>
</app-dialog-ver-producto>
