<div class="item flex align-items-center pb-2 w-full flex-wrap">
	<div class="img-container col-12 sm:col-5 md:col-5 lg:col-5">
		<a routerLink="{{ itemRoute }}" cursor-pointer>
			<img
				[src]="imageSrc"
				(error)="updateUrl($event)"
				alt="{{ item.nombre }}"
				class="info-image shadow-2"
			/>
		</a>
	</div>
	<div class="col-12 sm:col-7 md:col-7 lg:col-7">
		<a routerLink="{{ itemRoute }}" cursor-pointer>
			<div class="col-12 no-padding">
				<p class="text-bold">
					{{ item.nombre }} - {{ item.cantidad_embase }}
				</p>
			</div>
			<div class="col-12 no-padding">
				<p>{{ item.marca }}</p>
			</div>
		</a>

		<div class="col-12 no-padding">
			<p>Kcal porción: {{ item.kcal_prcn }}</p>
		</div>

		<div class="col-12 no-padding">
			<div class="flex align-items-center justify-content-center">
				<p-button
					label="Agregar"
					(click)="mostrarDialogAgregar()"
				></p-button>

				<a
					*ngIf="tipoItem != 'misrecetas'"
					class="star-icon"
					(click)="toggleFavorito()"
					cursor-pointer
					pTooltip="Favorito"
					tooltipPosition="bottom"
				>
					<i
						[ngClass]="item.favorito ? 'pi-star-fill' : 'pi-star'"
						class="pi"
					>
					</i>
				</a>
			</div>
		</div>
	</div>
</div>

<app-dialog-agregar
	*ngIf="mostrarDialog"
	[item]="item"
	[visible]="mostrarDialog"
	(agregarItemEvent)="agregarItemPlan($event)"
></app-dialog-agregar>
