<div class="day-title font-bold border-round">
	{{ dia }}
</div>
<div>
	<div *ngFor="let momento of momentosDia">
		<div>
			<div
				class="day-moment-title flex text-center border-round font-medium"
			>
				{{ momento }}
				<p-button
					pTooltip="Agregar alimento"
					tooltipPosition="bottom"
					class="p-button-rounded w-2rem h-2rem inline-flex p-button p-button-icon-only"
					icon="pi pi-plus"
					(click)="buscarProducto(dia, momento)"
				></p-button>
			</div>
		</div>
		<div class="day-item">
			<div *ngFor="let producto of Planificacion?.productos">
				<div
					class="card flex flex-nowrap"
					*ngIf="momento == producto.momento_dia"
					id="{{ producto.id_producto }}-{{
						producto.id_plan_producto
					}}"
				>
					<div
						class="col-1 delete-button flex justify-content-center"
						pTooltip="Eliminar"
						tooltipPosition="bottom"
						(click)="eliminarPlanProducto(producto)"
					>
						<i class="pi pi-times"></i>
					</div>
					<div class="flex flex-wrap col-10">
						<div class="col-10">
							<div>
								{{ producto.cantidad }}
								{{ producto.nombre_unidad }} de
								<span
									class="item-title"
									pTooltip="Ver producto"
									tooltipPosition="top"
									(click)="verProducto(producto)"
									>{{ producto.nombre }}</span
								>
							</div>
						</div>
						<div class="col-2">
							<p-button
								styleClass="p-button-rounded p-button-text p-button-raised"
								icon="pi pi-pencil"
								pTooltip="Editar"
								tooltipPosition="bottom"
								(click)="editarProductoPlan(producto)"
							></p-button>
						</div>
						<div class="col-12">
							Calorías: {{ producto.kcal }} kcal
						</div>
					</div>
					<div class="col-1 checked-button">
						<p-checkbox
							class="inline-flex"
							[(ngModel)]="producto.checked"
							[binary]="true"
							inputId="binary"
							(click)="marcarCheckedPlanProducto(producto)"
						></p-checkbox>
					</div>
				</div>
			</div>
			<div *ngFor="let receta of Planificacion?.preparaciones">
				<div
					class="card flex flex-nowrap delete"
					*ngIf="momento == receta.momento_dia"
					id="{{ receta.id_preparacion }}-{{
						receta.id_plan_preparacion
					}}"
				>
					<div
						class="col-1 delete-button"
						pTooltip="Eliminar"
						tooltipPosition="bottom"
						(click)="eliminarPlanReceta(receta)"
					>
						<i class="pi pi-times"></i>
					</div>
					<div class="col-10 flex flex-wrap no-padding">
						<div class="col-10">
							<div>
								{{ receta.cantidad }}
								porción de
								<span
									class="item-title"
									pTooltip="Ver receta"
									tooltipPosition="top"
									(click)="verReceta(receta)"
									>{{ receta.nombre }}</span
								>
							</div>
						</div>
						<div class="col-2">
							<p-button
								styleClass="p-button-rounded p-button-text p-button-raised"
								icon="pi pi-pencil"
								pTooltip="Editar"
								tooltipPosition="bottom"
								(click)="editarRecetaPlan(receta)"
							></p-button>
						</div>
						<div class="col-12">
							Calorías: {{ receta.kcal }} kcal
						</div>
					</div>
					<div class="col-1 checked-button">
						<p-checkbox
							class="inline-flex"
							[(ngModel)]="receta.checked"
							[binary]="true"
							inputId="binary"
							(click)="marcarCheckedPlanReceta(receta)"
						></p-checkbox>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p-button
		[disabled]="dia != 'Ayer' ? false : true"
		label="Recomendación"
		(click)="showDialogConfirmarRecomendacion()"
	></p-button>
</div>

<app-dialog-agregar
	*ngIf="dialogEditarItemPlan"
	[titulo]="dia"
	[item]="itemEditar"
	[editar]="true"
	[crearReceta]="false"
	[visible]="dialogEditarItemPlan"
	(agregarItemPlanEvent)="editarItemPlan($event)"
></app-dialog-agregar>

<p-dialog
	header="Header"
	[(visible)]="dialogConfirmarRecomendacion"
	[breakpoints]="{ '1200px': '50vw', '576px': '80vw' }"
	[modal]="true"
	[style]="{ width: 'auto', height: 'auto' }"
	[draggable]="false"
	[resizable]="false"
	[closable]="false"
>
	<ng-template pTemplate="header">
		<span class="text-xl font-bold text-center"
			>¿Obtener recomendaciones para {{ dia }}?</span
		>
	</ng-template>

	<ng-template pTemplate="content">
		<p-messages severity="warn" class="p-0">
			<ng-template pTemplate>
				<div class="flex justify-content-center flex-wrap">
					<div class="col-12 p-0">
						<i
							class="pi pi-info-circle"
							style="font-size: 3rem"
						></i>
					</div>
					<div class="col-12 p-0">
						<p class="text-center">
							Esta acción
							<span class="font-bold">ELIMINARÁ</span> de la
							planificación todos los alimentos de
							<span class="font-bold">{{ dia }}</span> no marcados
							con
							<p-checkbox
								class="inline-flex checkbox-true"
								[(ngModel)]="checkedTrue"
								[readonly]="true"
								[binary]="true"
								inputId="binary"
							></p-checkbox>
						</p>
					</div>
				</div>
			</ng-template>
		</p-messages>
	</ng-template>
	<ng-template pTemplate="footer">
		<p-button
			styleClass="p-button-text"
			label="Cancelar"
			(click)="hideDialogConfirmarRecomendacion()"
		></p-button>
		<p-button
			label="Confirmar"
			(click)="showDialogRecomendacion()"
		></p-button>
	</ng-template>
</p-dialog>

<app-dialog-recomendacion
	*ngIf="dialogRecomendacion"
	[visible]="dialogRecomendacion"
	[dia]="dia"
	[fecha]="obtenerFecha(dia)"
	(recomendacionConfirmadaEvent)="agregarProductosRecomendadosPlan($event)"
></app-dialog-recomendacion>
