<div class="card">
	<h5>Formulario</h5>
	<div class="field">
		<label for="firstname1">Nombre</label>
		<input
			id="firstname1"
			type="text"
			class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
		/>
	</div>
	<div class="field">
		<label for="lastname1">Apellido</label>
		<input
			id="lastname1"
			type="text"
			class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
		/>
	</div>
</div>
