<div class="card">
	<div class="text-center section-title align-items-center">Receta</div>
	<div class="grid">
		<div class="col-12 sm:col-5 md:col-5 lg:col-5">
			<h2 class="text-center">
				{{ infoReceta.info_receta.nombre }}
			</h2>
			<div class="img-container">
				<img
					[src]="imageSrc"
					(error)="updateUrl($event)"
					alt="{{ infoReceta.info_receta.nombre }}"
					class="info-image shadow-2"
				/>
			</div>
		</div>
		<div class="card info-nutricional col-12 sm:col-7 md:col-7 lg:col-7">
			<div class="text-center text-bold">
				<h2>Información Nutricional</h2>
			</div>
			<p-divider></p-divider>
			<table class="info-table">
				<tbody>
					<tr>
						<td></td>
						<td class="text-bold">Por porción</td>
					</tr>
					<tr>
						<td class="text-bold">Energía (kcal)</td>
						<td>
							{{ infoReceta.info_receta.kcal_prcn || '-' }}
						</td>
					</tr>
					<tr></tr>
					<tr>
						<td class="text-bold">Proteínas (g)</td>
						<td>
							{{ infoReceta.info_receta.prot_prcn || '-' }}
						</td>
					</tr>
					<tr>
						<td class="text-bold">Grasas Totales(g)</td>
						<td>
							{{ infoReceta.info_receta.gr_totales_prcn || '-' }}
						</td>
					</tr>
					<tr>
						<td class="text-bold">Hidratos (g)</td>
						<td>
							{{ infoReceta.info_receta.hidratos_prcn || '-' }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-12 sm:col-12 md:col-12 lg:col-12">
			<p-divider align="center">
				<div class="inline-flex align-items-center">
					<h2>Ingredientes</h2>
				</div>
			</p-divider>
			<div class="flex flex-wrap">
				<div
					class="col-12 sm:col-12 md:col-6 lg:col-6"
					*ngFor="let producto of infoReceta?.lista_productos"
				>
					<div class="flex flex-wrap card item-producto">
						<div
							class="col-12 sm:col-12 md:col-12 lg:col-12 pb-0 text-center"
						>
							<h2
								class="item-title"
								pTooltip="Ver producto"
								tooltipPosition="top"
								(click)="verProducto(producto.id_producto)"
							>
								{{ producto.nombre_producto }}
							</h2>
						</div>
						<div
							class="img-container align-items-center col-5 sm:col-5 md:col-5 lg:col-5 pt-0"
						>
							<img
								[src]="
									imagesUrl +
									'/' +
									this.producto.id_producto +
									'.jpg'
								"
								(error)="updateUrl($event)"
								alt="{{ producto.nombre_producto }}"
								class="info-image shadow-2"
							/>
						</div>
						<div class="col-7 sm:col-7 md:col-7 lg:col-7 pt-0">
							<p>
								<span class="text-bold"> Cantidad: </span>
								{{ producto.cantidad }}
								{{ producto.nombre_unidad }}
							</p>
							<p>
								<span class="text-bold"> Energía (kcal): </span>
								{{ producto.kcal }}
							</p>
							<p>
								<span class="text-bold">Proteinas (g): </span>
								{{ producto.prot }}
							</p>
							<p>
								<span class="text-bold"
									>Grasas Totales (g): </span
								>{{ producto.gr_totales }}
							</p>
							<p>
								<span class="text-bold"> Hidratos (g): </span>
								{{ producto.hidratos }}
							</p>
						</div>
					</div>
				</div>
			</div>
			<p-divider align="center">
				<div class="inline-flex align-items-center">
					<h2>Preparación</h2>
				</div>
			</p-divider>
			<div
				class="col-12 sm:col-12 md:col-12 lg:col-12 p-0"
				*ngFor="let paso of infoReceta.pasos"
			>
				<app-paso-receta [paso]="paso"></app-paso-receta>
			</div>
		</div>
	</div>
</div>
