<div class="card">
	<h1 class="text-center">Receta</h1>
	<p-divider></p-divider>

	<div class="grid">
		<div class="col-12 sm:col-5 md:col-5 lg:col-5">
			<h2 class="text-center">{{ infoReceta.info_receta.nombre }}</h2>
			<div class="img-container">
				<img
					[src]="imageSrc"
					(error)="updateUrl($event)"
					alt=""
					class="info-image shadow-2"
				/>
			</div>
		</div>
		<div class="card col-12 sm:col-7 md:col-7 lg:col-7">
			<h3 class="text-center">Información Nutricional</h3>
			<table class="info-table">
				<tbody>
					<tr>
						<td></td>
						<td class="text-bold">Por porción</td>
					</tr>
					<tr>
						<td class="text-bold">Energía (kcal)</td>
						<td>
							{{ infoReceta.info_receta.kcal_prcn || '-' }}
						</td>
					</tr>
					<tr></tr>
					<tr>
						<td class="text-bold">Proteínas (g)</td>
						<td>
							{{ infoReceta.info_receta.prot_prcn || '-' }}
						</td>
					</tr>
					<tr>
						<td class="text-bold">Grasas Totales(g)</td>
						<td>
							{{ infoReceta.info_receta.gr_totales_prcn || '-' }}
						</td>
					</tr>
					<tr>
						<td class="text-bold">Hidratos (g)</td>
						<td>
							{{ infoReceta.info_receta.hidratos_prcn || '-' }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-12 sm:col-12 md:col-12 lg:col-12">
			<p-divider align="center">
				<div class="inline-flex align-items-center">
					<h2>Ingredientes</h2>
				</div>
			</p-divider>
			<div class="grid">
				<div
					class="card col-12 sm:col-12 md:col-6 lg:col-6"
					*ngFor="let producto of infoReceta.lista_productos"
				>
					<div class="grid">
						<div class="col-12 sm:col-12 md:col-12 lg:col-12">
							<div
								class="flex align-items-center justify-content-center"
							>
								<h3 class="text-center mr-3">
									{{ producto.cantidad }}
									{{ producto.nombre_unidad }} de
									{{ producto.nombre_producto }}
								</h3>
								<p-button
									styleClass="p-button-outlined p-button-rounded"
									icon="pi pi-eye"
									(click)="verProducto(producto.id_producto)"
									pTooltip="Ver producto"
									tooltipPosition="bottom"
								></p-button>
							</div>
						</div>
						<div class="col-5 sm:col-5 md:col-5 lg:col-5">
							<div class="img-container">
								<img
									[src]="
										imagesUrl +
										'/' +
										this.producto.id_producto +
										'.jpg'
									"
									(error)="updateUrl($event)"
									alt="{{ producto.nombre_producto }}"
									class="info-image shadow-2"
								/>
							</div>
						</div>
						<div class="col-7 sm:col-7 md:col-7 lg:col-7">
							<p>
								<span class="text-bold"> Energía (kcal): </span>
								{{ producto.kcal }}
							</p>
							<p>
								<span class="text-bold">Proteinas (g): </span>
								{{ producto.prot }}
							</p>
							<p>
								<span class="text-bold"
									>Grasas Totales (g): </span
								>{{ producto.gr_totales }}
							</p>
							<p>
								<span class="text-bold"> Hidratos (g): </span>
								{{ producto.hidratos }}
							</p>
						</div>
					</div>
				</div>
			</div>
			<p-divider align="center">
				<div class="inline-flex align-items-center">
					<h2>Preparación</h2>
				</div>
			</p-divider>
			<div
				class="card col-12 sm:col-12 md:col-12 lg:col-12"
				*ngFor="let paso of infoReceta.pasos"
			>
				<p class="text-bold">Paso {{ paso.n_paso }}:</p>
				<p-divider></p-divider>
				<p>
					{{ paso.descripcion }} y luego, Lorem, ipsum dolor sit amet
					consectetur adipisicing elit. Impedit numquam perspiciatis,
					doloribus magni tenetur, quibusdam fugit iure laborum
					distinctio necessitatibus cum id voluptate ab dolore
					asperiores deleniti corrupti sed sunt.
				</p>
			</div>
		</div>
	</div>
</div>
