.registro{
    text-align: center;
    justify-content: center;
    font-size: x-large;
    line-height: 3.0;
}

.block{
    text-align: center;
}

.boton{
    display: flex;
    justify-content: center;
    padding: 15px;
}
