<div
	class="input-buscar"
	*ngIf="tipoItem != 'favorito' && tipoItem != 'misrecetas'"
	id="input-buscar"
>
	<input
		placeholder="Buscar {{ tipoItem }}"
		type="text"
		pInputText
		[(ngModel)]="nombreItemBuscar"
		(keyup.enter)="
			tipoItem == 'producto' ? buscarProducto() : buscarReceta()
		"
	/>
	<p-button
		icon="pi pi-search"
		(click)="tipoItem == 'producto' ? buscarProducto() : buscarReceta()"
	></p-button>
</div>

<div class="items-list" id="item-container">
	<div class="flex flex-wrap" *ngIf="tipoItem != 'favorito'">
		<div
			class="col-12 sm:col-12 md:col-6 lg:col-6"
			*ngFor="let item of items"
		>
			<app-item
				(agregarProductoPlanificacionEvent)="
					agregarProductoPlanificacion($event)
				"
				(agregarRecetaPlanificacionEvent)="
					agregarRecetaPlanificacion($event)
				"
				(productoFavoritoEvent)="addProductoFavoritoServicio($event)"
				(recetaFavoritoEvent)="addRecetaFavoritoServicio($event)"
				(agregarIngredienteRecetaEvent)="addIngredienteReceta($event)"
				[item]="item"
				[tipoItem]="tipoItem"
				[crearReceta]="crearReceta"
			></app-item>
		</div>
	</div>

	<div *ngIf="tipoItem == 'favorito'">
		<p-fieldset legend="Productos" [toggleable]="true">
			<div class="flex flex-wrap">
				<div
					class="favoritos col-12 sm:col-12 md:col-6 lg:col-6"
					*ngFor="let producto of favoritos.productos.reverse()"
				>
					<app-item
						class="delete"
						*ngIf="producto.id_producto"
						(agregarProductoPlanificacionEvent)="
							agregarProductoPlanificacion($event)
						"
						(agregarRecetaPlanificacionEvent)="
							agregarRecetaPlanificacion($event)
						"
						(productoFavoritoEvent)="
							addProductoFavoritoServicio($event)
						"
						(recetaFavoritoEvent)="
							addRecetaFavoritoServicio($event)
						"
						(agregarIngredienteRecetaEvent)="
							addIngredienteReceta($event)
						"
						[item]="producto"
						[tipoItem]="tipoItem"
						[crearReceta]="crearReceta"
						id="{{ producto.id_producto }}-{{ producto.nombre }}"
					></app-item>
				</div>
			</div>
			<div *ngIf="favoritoProductoTemplate">
				<div class="flex justify-content-center">
					<i class="pi pi-star" style="font-size: 2.5rem"></i>
				</div>
				<div class="flex justify-content-center">
					<p>Sin productos favoritos</p>
				</div>
			</div>
		</p-fieldset>
		<div class="mt-3" *ngIf="!crearReceta">
			<p-fieldset legend="Recetas" [toggleable]="true">
				<div class="flex flex-wrap" *ngIf="favoritos">
					<div
						class="favoritos col-12 sm:col-12 md:col-6 lg:col-6"
						*ngFor="let receta of favoritos.recetas.reverse()"
					>
						<app-item
							class="delete"
							*ngIf="receta.id_preparacion"
							(agregarProductoPlanificacionEvent)="
								agregarProductoPlanificacion($event)
							"
							(agregarRecetaPlanificacionEvent)="
								agregarRecetaPlanificacion($event)
							"
							(productoFavoritoEvent)="
								addProductoFavoritoServicio($event)
							"
							(recetaFavoritoEvent)="
								addRecetaFavoritoServicio($event)
							"
							[item]="receta"
							[tipoItem]="tipoItem"
							id="{{ receta.id_preparacion }}-{{ receta.nombre }}"
						></app-item>
					</div>
				</div>
				<div *ngIf="favoritoRecetaTemplate">
					<div class="flex justify-content-center">
						<i class="pi pi-star" style="font-size: 2.5rem"></i>
					</div>
					<div class="flex justify-content-center">
						<p>Sin recetas favoritas</p>
					</div>
				</div>
			</p-fieldset>
		</div>
	</div>

	<div class="container mt-5">
		<div
			*ngIf="
				buscarTemplate &&
				(tipoItem == 'producto' || tipoItem == 'receta')
			"
		>
			<div class="flex justify-content-center">
				<i class="pi pi-search" style="font-size: 2.5rem"></i>
			</div>
			<div class="flex justify-content-center">
				<p>Busca {{ tipoItem }}s</p>
			</div>
		</div>

		<div
			*ngIf="
				sinResultadosTemplate &&
				(tipoItem == 'producto' || tipoItem == 'receta')
			"
		>
			<div class="flex justify-content-center">
				<i class="pi pi-times-circle" style="font-size: 2.5rem"></i>
			</div>
			<div class="flex justify-content-center">
				<p>No hay resultados con '{{ copiaNombreItemBuscar }}'</p>
			</div>
		</div>

		<div *ngIf="misRecetasTemplate && tipoItem == 'misrecetas'">
			<div class="flex justify-content-center">
				<i class="pi pi-book" style="font-size: 2.5rem"></i>
			</div>
			<div class="flex justify-content-center">
				<p>Sin recetas propias</p>
			</div>
		</div>
	</div>
</div>
