.input-buscar {
	display: flex;
	margin-bottom: 1rem;
	input {
		width: 100%;
	}
}

.items-list {
	height: 55vh;
	max-height: fit-content;
	overflow-y: auto;
	overflow-x: hidden;
}

.items-list .container {
	width: 100%;
}

// estilos toggle favoritos
:host ::ng-deep .p-fieldset .p-fieldset-content {
	padding: 0;
}
:host ::ng-deep .p-fieldset.p-fieldset-toggleable .p-fieldset-legend {
	width: 100%;
	background-color: var(--surface-ground);
}

.favoritos {
	padding: 0.5rem 0rem 0rem 0rem !important;
}

@media (min-width: 767px) {
	.favoritos {
		padding: 0.5rem !important;
	}
}
