.delete-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid var(--surface-border);
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.delete-button:hover {
	cursor: pointer;
	background-color: red;
	i {
		color: white;
	}
}

:host ::ng-deep .p-dialog .p-dialog-footer {
	text-align: center;
}

:host ::ng-deep .p-dialog .p-dialog-header {
	justify-content: center;
}
:host ::ng-deep .p-dialog .p-dialog-content {
	text-align: center;
}
