<div class="card">
	<h2 class="text-center">Planificación</h2>
	<hr class="mb-3" />
	<div class="plan-card grid flex flex-nowrap">
		<div
			class="plan-card-day col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4 text-center font-bold border-round"
		>
			Ayer
		</div>

		<div
			class="plan-card-day col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4 text-center font-bold border-round"
		>
			Hoy
		</div>
		<div
			class="plan-card-day col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4 text-center font-bold border-round"
		>
			Mañana
		</div>
	</div>
</div>
