<div class="card">
	<h1 class="text-center">Planificación</h1>
	<p-divider></p-divider>
	<div class="plan-card grid flex flex-nowrap custom-scroll">
		<div
			class="plan-card-day col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4 text-center font-bold border-round"
		>
			Ayer
		</div>

		<div
			class="plan-card-day col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4 text-center font-bold border-round"
		>
			Hoy
		</div>
		<div
			class="plan-card-day col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4 text-center font-bold border-round"
		>
			Mañana
		</div>
	</div>
</div>
