<p-dialog
	header="Header"
	[(visible)]="visible"
	[breakpoints]="{ '1200px': '75vw' }"
	[modal]="true"
	[style]="{ width: '30vw' }"
	[draggable]="false"
	[resizable]="false"
>
	<ng-template pTemplate="header">
		<span class="text-xl font-bold">{{ item?.nombre || '' }}</span>
	</ng-template>

	<form
		[formGroup]="formAgregar"
		(ngSubmit)="agregarItemPlanificacion(formAgregar)"
	>
		<div class="flex justify-content-center flex-wrap gap-3">
			<div *ngFor="let unidad of unidadesMedida" class="field-checkbox">
				<p-radioButton
					[inputId]="unidad.unidad_base"
					name="unidad"
					[value]="unidad"
					formControlName="unidad"
				></p-radioButton>
				<label [for]="unidad.unidad_base" class="ml-2">{{
					unidad.nombre
				}}</label>
			</div>
		</div>

		<div class="flex justify-content-center mb-1">
			<input
				pInputText
				type="number"
				class="p-inputtext-sm"
				placeholder="Cantidad"
				formControlName="cantidad"
			/>
		</div>
		<div *ngIf="infoItem">
			<p>
				<span class="text-bold"> Energía (kcal): </span>
				{{ infoItem.azucares_100 }}
			</p>
		</div>
		<div class="flex justify-content-center">
			<p-button
				label="Agregar"
				type="submit"
				[disabled]="formAgregar.invalid"
			></p-button>
		</div>
	</form>
</p-dialog>
