<p-dialog
	header="Header"
	[(visible)]="visible"
	[breakpoints]="{ '1200px': '40vw' ,'767px': '60vw','576px': '95vw'}"
	[modal]="true"
	[style]="{ width: '30vw', height: 'auto' }"
	[draggable]="false"
	[resizable]="false"
>
	<ng-template pTemplate="header">
		<span class="text-xl font-bold">{{ tituloDialog }}</span>
	</ng-template>

	<ng-template pTemplate="content">
		<div class="text-center">
			<span class="font-bold">{{ item?.nombre || '' }}</span>
		</div>
		<p-divider></p-divider>
		<form [formGroup]="formAgregar">
			<div
				*ngIf="unidadesMedida != undefined"
				class="flex justify-content-center flex-wrap gap-3"
			>
				<div
					*ngFor="let unidad of unidadesMedida"
					class="field-checkbox"
				>
					<p-radioButton
						[inputId]="unidad.unidad_base"
						name="unidad"
						[value]="unidad"
						formControlName="unidad"
					></p-radioButton>
					<label [for]="unidad.unidad_base" class="ml-2">{{
						unidad.nombre
					}}</label>
				</div>
			</div>

			<div
				class="flex justify-content-center"
				*ngIf="mostrarSpinnerBuscar"
			>
				<p-progressSpinner
					styleClass="w-2rem h-2rem"
					strokeWidth="8"
					fill="var(--surface-ground)"
					animationDuration=".5s"
				></p-progressSpinner>
			</div>

			<div class="flex align-items-center justify-content-center mb-1">
				<input
					pInputText
					type="number"
					class="p-inputtext-sm"
					placeholder="Cantidad"
					formControlName="cantidad"
					required
				/>
			</div>
			<div
				*ngIf="
					formAgregar.controls['cantidad'].invalid &&
					(formAgregar.controls['cantidad'].dirty ||
						formAgregar.controls['cantidad'].touched)
				"
				class="flex align-items-center justify-content-center"
			>
				<div *ngIf="formAgregar.controls['cantidad'].errors">
					<small class="p-error">
						<span
							*ngIf="
								formAgregar.controls['cantidad'].errors[
									'pattern'
								]
							"
							class="text-sm"
							>La cantidad debe ser mayor a 0</span
						>
						<span
							*ngIf="
								formAgregar.controls['cantidad'].errors[
									'required'
								]
							"
							>Ingrese cantidad</span
						>
					</small>
				</div>
			</div>

			<div class="flex align-items-center justify-content-center mt-3">
				Calorías: {{ calorias || 0 }} kcal
			</div>
		</form>
	</ng-template>

	<ng-template pTemplate="footer">
		<button
			pButton
			label="{{ labelButton }}"
			(click)="agregarItemPlanificacion()"
			[disabled]="formAgregar.invalid"
		></button>
	</ng-template>
</p-dialog>
