<div class="card">
	<h1 class="text-center">Buscar</h1>
	<p-divider></p-divider>
	<p-tabView [scrollable]="tabScroll">
		<p-tabPanel header="Productos">
			<app-buscar-items [tipoItem]="TipoItems[0]"></app-buscar-items>
		</p-tabPanel>
		<p-tabPanel header="Recetas">
			<app-buscar-items [tipoItem]="TipoItems[1]"></app-buscar-items>
		</p-tabPanel>
		<p-tabPanel header="Favoritos">
			<app-buscar-items [tipoItem]="TipoItems[2]"></app-buscar-items>
		</p-tabPanel>
		<p-tabPanel header="Mis recetas">
			<app-buscar-items [tipoItem]="TipoItems[3]"></app-buscar-items>
		</p-tabPanel>
	</p-tabView>
</div>
