<div class="card flex flex-wrap justify-content-center">
	<div class="col-12 sm:col-12 md:col-5 xl:col-5 background">
		<h1 class="card-phrase-title text-center">
			¡Bienvenido a <span class="font-logo">SmartPlate</span> !
		</h1>
		<div class="card card-phrase text-center">
			<p>
				<span><i class="pi pi-calendar"></i></span>
				Planifica tu dieta diaria
			</p>
		</div>

		<div class="card card-phrase text-center">
			<p>
				<span><i class="pi pi-search"></i></span>
				Busca productos, recetas y crea tu dieta ideal
			</p>
		</div>

		<div class="card card-phrase text-center">
			<p>
				<span><i class="fa-regular fa-lightbulb"></i></span> ¿No sabes
				qué comer? Obtén recomendaciones
			</p>
		</div>
	</div>

	<div
		class="flex flex-wrap justify-content-center align-content-center col-12 sm:col-12 md:col-7 xl:col-7"
	>
		<div class="login-title flex justify-content-center col-12 pb-0 mb-0">
			<span>Inicia Sesión</span>
		</div>

		<p-divider class="flex justify-content-center col-12 pt-0"></p-divider>

		<div class="flex justify-content-center col-12">
			<form [formGroup]="userForm" (ngSubmit)="hacerLogin()">
				<div class="field">
					<span class="flex text-left text-bold mb-1">Email</span>
					<span class="p-input-icon-left">
						<i class="pi pi-user"></i>
						<input
							type="text"
							pInputText
							placeholder="Ej: email@smartplate.cl"
							formControlName="email"
						/>
					</span>

					<div
						*ngIf="
							userForm.controls['email'].dirty ||
							userForm.controls['email'].touched
						"
					>
						<div *ngIf="userForm.controls['email'].errors">
							<small class="p-error">
								<span
									*ngIf="
										userForm.controls['email'].errors[
											'required'
										]
									"
									class="text-sm"
									>Campo email es obligatorio</span
								><span
									*ngIf="
										userForm.controls['email'].errors[
											'email'
										]
									"
									>Ingrese un email válido</span
								>
							</small>
						</div>
					</div>
				</div>

				<div class="field">
					<span class="flex text-left text-bold mb-1"
						>Contraseña</span
					>
					<span class="p-input-icon-left">
						<i class="pi pi-lock"></i>
						<input
							type="password"
							pInputText
							formControlName="contrasena"
						/>
					</span>

					<div
						*ngIf="
							userForm.controls['contrasena'].dirty ||
							userForm.controls['contrasena'].touched
						"
					>
						<div *ngIf="userForm.controls['contrasena'].errors">
							<small class="p-error">
								<span
									*ngIf="
										userForm.controls['contrasena'].errors[
											'required'
										]
									"
									class="text-sm"
									>Campo contraseña es obligatorio</span
								>
							</small>
						</div>
					</div>
				</div>
				<div class="flex justify-content-center">
					<p-button
						icon="pi pi-sign-in"
						type="Submit"
						label="Iniciar Sesión"
						[disabled]="userForm.invalid"
					></p-button>
				</div>
			</form>
		</div>
		<div class="flex flex-wrap justify-content-center">
			<p>
				¿No tienes cuenta en SmartPlate?
				<a class="signup-link" routerLink="/signup">Resgístrate aquí</a>
			</p>
		</div>
	</div>
</div>
