.item-producto {
	padding: 0 !important;
	height: 100%;
	max-height: max-content;
}

.item-producto-title {
	padding-left: 2vw;
	padding-right: 2vw;
	justify-content: space-between;
	align-items: center;
}

.container-img {
	display: flex;
	justify-content: center;
	height: 200px;
}

.card-2 {
	border: 1px solid var(--surface-border) !important;
	border-radius: 4px !important;
	margin-bottom: 1rem !important;
	height: auto !important;
	background: var(--surface-ground) !important;
}
