<p-dialog
	header="Header"
	[(visible)]="visible"
	[breakpoints]="{ '576': '90vw' }"
	[modal]="true"
	[style]="{ width: '80vw', height: 'auto' }"
	[draggable]="false"
	[resizable]="false"
	[closable]="false"
	(onClose)="visible = false"
>
	<ng-template pTemplate="header">
		<span class="text-xl font-bold">{{ titulo }}</span>
	</ng-template>

	<ng-template pTemplate="content">
		<div class="flex justify-content-center" *ngIf="mostrarSpinnerBuscar">
			<p-messages severity="info" class="p-0">
				<ng-template pTemplate>
					<div class="flex justify-content-center flex-wrap">
						<div class="col-12 p-0">
							<p-progressSpinner
								styleClass="w-4rem h-4rem"
								strokeWidth="8"
								fill="var(--surface-ground)"
								animationDuration=".5s"
							></p-progressSpinner>
						</div>
						<div class="col-12 p-0">
							<p class="text-center font-bold p-0 m-0">
								<span class="text-xl"
									>Estamos pensando en tu recomendación</span
								>
							</p>
						</div>
						<div class="col-12 p-0">
							<p class="text-center font-medium p-0 m-1">
								Esta acción puede tomar 30 segundos o más...
							</p>
						</div>
					</div>
				</ng-template>
			</p-messages>
		</div>
		<p-fieldset
			legend="Productos"
			[toggleable]="true"
			*ngIf="productosRecomendados"
		>
			<div class="flex flex-wrap">
				<div
					class="recomendaciones col-12 sm:col-12 md:col-6 lg:col-4"
					*ngFor="let producto of productosRecomendados"
				>
					<app-producto-recomendacion [producto]="producto">
					</app-producto-recomendacion>
				</div>
			</div>
			<div *ngIf="productosRecomendados.length == 0">
				<div class="flex justify-content-center">
					<i
						class="fa-regular fa-lightbulb"
						style="font-size: 2.5rem"
					></i>
				</div>
				<div class="flex justify-content-center">
					<p>Sin recomendación productos</p>
				</div>
			</div>
		</p-fieldset>
		<div class="mt-3" *ngIf="recetasRecomendadas">
			<p-fieldset legend="Recetas" [toggleable]="true">
				<div class="flex flex-wrap">
					<div
						class="recomendaciones col-12 sm:col-12 md:col-6 lg:col-4"
						*ngFor="let receta of recetasRecomendadas"
					>
						<div
							class="item flex flex-wrap"
							id="{{ receta.id_preparacion }}"
						>
							<div class="flex justify-content-center col-12 p-0">
								<p
									class="text-bold item-title"
									pTooltip="Ver {{ receta.nombre }}"
									tooltipPosition="top"
								>
									{{ receta.nombre }}
								</p>
							</div>
							<div
								class="img-container align-items-center col-5 sm:col-5 md:col-5 lg:col-5"
							>
								<a cursor-pointer>
									<img
										[src]="
											imgRecetaUrl +
											'/' +
											this.receta.id_preparacion +
											'.jpg'
										"
										alt="{{ receta.nombre }}"
										class="info-image shadow-2"
									/>
								</a>
							</div>
							<div
								class="flex align-content-between flex-wrap col-7 sm:col-7 md:col-7 lg:col-7"
							>
								<div class="col-12 p-0">
									<p>
										<span class="font-medium"
											>Cantidad:
										</span>
										{{ receta.cantidad }}
										{{ receta.nombre_unidad }}
									</p>
								</div>
								<div class="col-12 p-0">
									<p>
										<span class="font-medium"
											>Calorías:
										</span>
										{{ receta.kcal }} Kcal
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="recetasRecomendadas.length == 0">
					<div class="flex justify-content-center">
						<i
							class="fa-regular fa-lightbulb"
							style="font-size: 2.5rem"
						></i>
					</div>
					<div class="flex justify-content-center">
						<p>Sin recomendación de recetas</p>
					</div>
				</div>
			</p-fieldset>
		</div>
	</ng-template>

	<ng-template pTemplate="footer">
		<button
			pButton
			label="Cancelar"
			(click)="cancelarRecomendacion()"
		></button>
		<button
			*ngIf="!mostrarSpinnerBuscar"
			pButton
			label="Confirmar"
		></button>
	</ng-template>
</p-dialog>
