<p-dialog
	header="Header"
	[(visible)]="visible"
	[breakpoints]="{ '1200px': '80vw', '576px': '95vw' }"
	[modal]="true"
	[style]="{ width: '60vw', height: 'auto' }"
	[draggable]="false"
	[resizable]="false"
	[closable]="false"
	(onClose)="visible = false"
>
	<ng-template pTemplate="header">
		<span class="text-xl font-bold">{{ titulo }}</span>
	</ng-template>

	<ng-template pTemplate="content">
		<div class="flex justify-content-center" *ngIf="mostrarSpinnerBuscar">
			<p-messages severity="info" class="p-0">
				<ng-template pTemplate>
					<div class="flex justify-content-center flex-wrap">
						<div class="col-12 p-0">
							<p-progressSpinner
								styleClass="w-4rem h-4rem"
								strokeWidth="8"
								fill="var(--surface-ground)"
								animationDuration=".5s"
							></p-progressSpinner>
						</div>
						<div class="col-12 p-0">
							<p class="text-center font-bold p-0 m-0">
								<span class="text-xl"
									>Estamos pensando en tu recomendación</span
								>
							</p>
						</div>
						<div class="col-12 p-0">
							<p class="text-center font-medium p-0 m-1">
								Esta acción puede tomar 1 minuto o más...
							</p>
						</div>
					</div>
				</ng-template>
			</p-messages>
		</div>
		<div class="flex justify-content-center" *ngIf="!mostrarSpinnerBuscar">
			<p-messages severity="info" class="p-0">
				<ng-template pTemplate>
					<div class="flex justify-content-center flex-wrap">
						<div class="col-12 p-0">
							<i
								class="pi pi-info-circle"
								style="font-size: 3rem"
							></i>
						</div>
						<div class="col-12 p-0">
							<p class="text-center">
								Puedes seleccionar el
								<span class="font-bold">Momento del Día</span>
								deseado para cada
								<span class="font-bold">Producto/Receta</span>
								haciendo click en su respectivo
								<span class="font-bold">DESPLEGABLE</span>
							</p>
						</div>
					</div>
				</ng-template>
			</p-messages>
		</div>
		<div class="flex justify-content-center" *ngIf="!mostrarSpinnerBuscar">
			<p-chart
				type="doughnut"
				[data]="data"
				[options]="options"
				width="130px"
				height="130px"
			></p-chart>
		</div>
		<div class="flex justify-content-center" *ngIf="!mostrarSpinnerBuscar">
			<span class="text-bold"
				>Puntaje: {{ puntajeRecomendacion.puntaje }}</span
			>
		</div>

		<div
			class="flex justify-content-center mb-3"
			*ngIf="!mostrarSpinnerBuscar"
		>
			<span *ngIf="puntajeRecomendacion.puntaje == 0">
				No se pudo encontrar una recomendación que satisfaga tus
				preferencias. Se ha generado una recomendación por
				defecto.</span
			>
			<span
				*ngIf="
					puntajeRecomendacion.puntaje == 1 ||
					puntajeRecomendacion.puntaje == 2
				"
			>
				>La recomendación generada tiene una baja fiabilidad.</span
			>
			<span *ngIf="puntajeRecomendacion.puntaje == 3"
				>La recomendación generada es buena.</span
			>
			<span *ngIf="puntajeRecomendacion.puntaje == 4"
				>La recomendación generada es perfecta según tus
				preferencias.</span
			>
		</div>
		<p-fieldset
			legend="Productos"
			[toggleable]="true"
			*ngIf="productosRecomendados"
		>
			<div class="flex flex-wrap">
				<div
					class="recomendaciones col-12 sm:col-12 md:col-6 lg:col-4"
					*ngFor="let producto of productosRecomendados"
				>
					<app-producto-recomendacion
						[producto]="producto"
						(estadoProductoEvent)="guardarEstadosProductos($event)"
					>
					</app-producto-recomendacion>
				</div>
			</div>
			<div *ngIf="productosRecomendados.length == 0">
				<div class="flex justify-content-center">
					<i
						class="fa-regular fa-lightbulb"
						style="font-size: 2.5rem"
					></i>
				</div>
				<div class="flex justify-content-center">
					<p>Sin recomendación productos</p>
				</div>
			</div>
		</p-fieldset>
		<div class="mt-3" *ngIf="recetasRecomendadas">
			<p-fieldset legend="Recetas" [toggleable]="true">
				<div class="flex flex-wrap">
					<div
						class="recomendaciones col-12 sm:col-12 md:col-6 lg:col-4"
						*ngFor="let receta of recetasRecomendadas"
					>
						<app-receta-recomendacion
							[receta]="receta"
							(estadoRecetaEvent)="guardarEstadosRecetas($event)"
						></app-receta-recomendacion>
					</div>
				</div>
				<div *ngIf="recetasRecomendadas.length == 0">
					<div class="flex justify-content-center">
						<i
							class="fa-regular fa-lightbulb"
							style="font-size: 2.5rem"
						></i>
					</div>
					<div class="flex justify-content-center">
						<p>Sin recomendación de recetas</p>
					</div>
				</div>
			</p-fieldset>
		</div>
	</ng-template>

	<ng-template pTemplate="footer" class="mb-3">
		<button
			pButton
			label="Cancelar"
			(click)="cancelarRecomendacion()"
		></button>
		<button
			*ngIf="!mostrarSpinnerBuscar"
			pButton
			label="Confirmar"
			(click)="confirmarRecomendacion()"
		></button>
	</ng-template>
</p-dialog>
