<div class="card card-steps">
	<p-steps
		[model]="items"
		[readonly]="false"
		[activeIndex]="activeIndex"
		(activeIndexChange)="onActiveIndexChange($event)"
	></p-steps>
</div>
<div class="card card-step-receta p-0">
	<div class="flex flex-wrap justify-content-center" *ngIf="activeIndex == 0">
		<form [formGroup]="infoForm">
			<div
				class="flex justify-content-center col-12 mt-2 image-container mb-2"
			>
				<img [src]="imagen" class="shadow-2 img" />
			</div>
			<div class="flex justify-content-center mb-2">
				<input
					pInputText
					class="p-inputtext-sm"
					type="file"
					accept="image/*"
					(change)="onSelect($event)"
				/>
			</div>
			<div class="flex justify-content-center">
				<input
					type="text"
					pInputText
					formControlName="nombre"
					placeholder="Nombre de la receta"
					maxlength="51"
					minlength="5"
				/>
			</div>
			<div
				*ngIf="
					infoForm.controls['nombre'].invalid &&
					(infoForm.controls['nombre'].dirty ||
						infoForm.controls['nombre'].touched)
				"
				class="flex justify-content-center"
			>
				<div *ngIf="infoForm.controls['nombre'].errors">
					<small class="p-error">
						<span
							*ngIf="
								infoForm.controls['nombre'].errors['maxlength']
							"
							class="text-sm"
							>No superar los 50 carácteres</span
						><span
							*ngIf="
								infoForm.controls['nombre'].errors['minlength']
							"
							>Debe superar los 5 carácteres</span
						>
						<span
							*ngIf="
								infoForm.controls['nombre'].errors['required']
							"
							>Ingrese el nombre de la receta</span
						>
					</small>
				</div>
			</div>
		</form>
	</div>

	<div class="flex flex-wrap justify-content-center" *ngIf="activeIndex == 1">
		<div class="col-12 sm:col-12 md:col-12 lg:col-12">
			<div class="card flex justify-content-center">
				<button
					pButton
					label="Agregar ingrediente"
					icon="pi pi-plus"
					(click)="mostrarDialogIngredientes()"
				></button>
			</div>
			<div *ngIf="cantidadIngredientes == 0">
				<div class="flex justify-content-center">
					<p-messages severity="info" class="p-0">
						<ng-template pTemplate>
							<div class="flex justify-content-center flex-wrap">
								<div
									class="col-12 p-0 flex justify-content-center"
								>
									<i
										class="pi pi-info-circle"
										style="font-size: 2.5rem"
									></i>
								</div>
								<div
									class="col-12 p-0 flex justify-content-center"
								>
									<p class="text-center text-xl p-0 m-0">
										Puedes agregar un máximo de
										<span class="font-bold"
											>10 Ingredientes</span
										>
									</p>
								</div>
							</div>
						</ng-template>
					</p-messages>
				</div>
			</div>
			<div class="flex flex-wrap no-padding">
				<div
					*ngFor="let ingrediente of Receta?.lista_productos"
					class="col-12 sm:col-6 md:col-4 lg:col-4"
				>
					<div
						class="flex flex-wrap item"
						id="{{ ingrediente.id_producto }}"
					>
						<div
							class="col-1 delete-button flex justify-content-center"
							pTooltip="Eliminar"
							tooltipPosition="bottom"
							(click)="eliminarIngredienteArray(ingrediente)"
						>
							<i class="pi pi-times"></i>
						</div>
						<div class="col-10 flex flex-wrap">
							<div
								class="col-12 sm:col-12 md:col-12 lg:col-12 text-center pb-0 pt-0"
							>
								<span
									class="text-xl font-bold item-title p-0"
									pTooltip="Ver {{
										ingrediente.nombre_producto
									}}"
									tooltipPosition="top"
									(click)="verProducto(ingrediente)"
								>
									{{ ingrediente.nombre_producto }}
								</span>
							</div>
							<div
								class="img-container img-ingrediente align-items-center justify-content-center col-5 sm:col-5 md:col-5 lg:col-5 pt-0"
								(click)="verProducto(ingrediente)"
							>
								<img
									[src]="
										imagesUrl +
										'/' +
										this.ingrediente.id_producto +
										'.jpg'
									"
									alt="{{ ingrediente.nombre_producto }}"
									class="item-image shadow-2 justify-content-center"
								/>
							</div>
							<div class="col-7 sm:col-7 md:col-7 lg:col-7 pt-0">
								<p>
									<span class="text-bold"> Cantidad: </span>
									{{ ingrediente.cantidad }}
									{{ ingrediente.nombre_unidad }}
								</p>

								<p>
									<span class="text-bold"> Calorías: </span>
									{{ ingrediente.kcal }} Kcal
								</p>
							</div>
						</div>
						<div
							class="col-1 edit-button flex justify-content-center"
							pTooltip="Editar"
							tooltipPosition="bottom"
						>
							<i class="pi pi-pencil"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="flex flex-wrap justify-content-center" *ngIf="activeIndex == 2">
		<div class="col-12 sm:col-12 md:col-12 lg:col-12">
			<div class="card flex justify-content-center">
				<button
					pButton
					label="Agregar paso"
					icon="pi pi-plus"
					(click)="mostrarDialogPasos()"
				></button>
			</div>
			<div *ngIf="cantidadPasos == 0">
				<div class="flex justify-content-center">
					<p-messages severity="info" class="p-0">
						<ng-template pTemplate>
							<div class="flex justify-content-center flex-wrap">
								<div
									class="col-12 p-0 flex justify-content-center"
								>
									<i
										class="pi pi-info-circle"
										style="font-size: 2.5rem"
									></i>
								</div>
								<div
									class="col-12 p-0 flex justify-content-center"
								>
									<p class="text-center text-xl p-0 m-0">
										Puedes agregar un máximo de
										<span class="font-bold">15 Pasos</span>
									</p>
								</div>
							</div>
						</ng-template>
					</p-messages>
				</div>
			</div>
			<div class="flex flex-wrap">
				<div
					class="col-12 sm:col-12 md:col-6 xl:col-6 pb-1"
					*ngFor="let paso of Receta?.pasos"
				>
					<div
						class="card card-paso flex flex-wrap p-0"
						id="{{ paso.n_paso }}"
					>
						<div
							class="col-1 delete-button flex justify-content-center"
							pTooltip="Eliminar"
							tooltipPosition="bottom"
							(click)="eliminarPasoArray(paso)"
						>
							<i class="pi pi-times"></i>
						</div>
						<div class="col-10">
							<p class="text-bold">Paso {{ paso.n_paso }}:</p>
							<p-divider></p-divider>
							<p class="text-justify">
								{{ paso.descripcion }}
							</p>
						</div>
						<div
							class="col-1 edit-button flex justify-content-center"
							pTooltip="Editar"
							tooltipPosition="bottom"
						>
							<i class="pi pi-pencil"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="flex flex-wrap justify-content-center" *ngIf="activeIndex == 3">
		<div
			class="flex justify-content-center col-12 sm:col-12 md:col-12 lg:col-12"
		>
			<h2>
				{{ Receta.nombre }}
			</h2>
		</div>
		<div class="flex justify-content-center col-12 mt-2 image-container">
			<img src="{{ imagen }}" class="shadow-2 img" />
		</div>

		<div class="col-12 sm:col-12 md:col-12 lg:col-12">
			<p-divider align="center">
				<div class="inline-flex align-items-center">
					<h2>Ingredientes</h2>
				</div>
			</p-divider>
			<div class="flex flex-wrap">
				<div
					class="col-12 sm:col-6 md:col-4 lg:col-4"
					*ngFor="let producto of Receta?.lista_productos"
				>
					<div class="flex flex-wrap card item-producto">
						<div
							class="col-12 sm:col-12 md:col-12 lg:col-12 pb-0 text-center"
						>
							<h3 class="text-bold p-0">
								{{ producto.nombre_producto }}
							</h3>
						</div>
						<div
							class="img-container align-items-center col-5 sm:col-5 md:col-5 lg:col-5 pt-0"
						>
							<img
								[src]="
									imagesUrl +
									'/' +
									this.producto.id_producto +
									'.jpg'
								"
								alt="{{ producto.nombre_producto }}"
								class="info-image shadow-2"
							/>
						</div>
						<div class="col-7 sm:col-7 md:col-7 lg:col-7 pt-0">
							<p>
								<span class="text-bold"> Cantidad: </span>
								{{ producto.cantidad }}
								{{ producto.nombre_unidad }}
							</p>
							<p>
								<span class="text-bold"> Calorías: </span>
								{{ producto.kcal }} kcal
							</p>
						</div>
					</div>
				</div>
			</div>
			<p-divider align="center">
				<div class="inline-flex align-items-center">
					<h2>Preparación</h2>
				</div>
			</p-divider>
			<div
				class="col-12 sm:col-12 md:col-12 lg:col-12 p-0"
				*ngFor="let paso of Receta.pasos"
			>
				<app-paso-receta [paso]="paso"></app-paso-receta>
			</div>
		</div>
	</div>
</div>

<div class="card-buttons flex flex-wrap justify-content-center p-0">
	<div class="flex justify-content-center">
		<button
			class="mr-1"
			pButton
			label="Atrás"
			(click)="atras()"
			[disabled]="activeIndex == 0"
		></button>
	</div>

	<div class="flex justify-content-center">
		<button
			class="ml-1"
			pButton
			[label]="activeIndex != 3 ? 'Siguiente' : 'Crear'"
			(click)="activeIndex != 3 ? siguiente() : mostrarDialogConfirmar()"
			[disabled]="disableBotonSiguiente()"
		></button>
	</div>
</div>

<p-dialog
	header="Agregar Ingrediente"
	[(visible)]="dialogIngredientes"
	[breakpoints]="{ '1200px': '90vw' }"
	[modal]="true"
	[style]="{ width: '50vw', height: 'auto' }"
	[draggable]="false"
	[resizable]="false"
>
	<p-tabView [scrollable]="false">
		<p-tabPanel header="Productos" class="p-0">
			<app-buscar-items
				[tipoItem]="TipoItems[0]"
				[crearReceta]="true"
			></app-buscar-items>
		</p-tabPanel>
		<p-tabPanel header="Favoritos">
			<app-buscar-items
				[tipoItem]="TipoItems[1]"
				[crearReceta]="true"
			></app-buscar-items>
		</p-tabPanel>
	</p-tabView>
</p-dialog>

<p-dialog
	header="Header"
	[(visible)]="dialogPasos"
	[breakpoints]="{ '1200px': '90vw' }"
	[modal]="true"
	[style]="{ width: '50vw', height: 'auto' }"
	[draggable]="false"
	[resizable]="false"
>
	<ng-template pTemplate="header">
		<span class="text-xl font-bold">Paso {{ numero_paso }}</span>
	</ng-template>

	<ng-template pTemplate="content"
		><form [formGroup]="pasosForm">
			<textarea
				class="textAreaPaso"
				pInputTextarea
				formControlName="descripcion"
				maxlength="501"
				placeholder="Descripción"
				required
			></textarea>
			<div
				*ngIf="
					pasosForm.controls['descripcion'].invalid &&
					(pasosForm.controls['descripcion'].dirty ||
						pasosForm.controls['descripcion'].touched)
				"
				class="flex align-items-center justify-content-center"
			>
				<div *ngIf="pasosForm.controls['descripcion'].errors">
					<small class="p-error">
						<span
							*ngIf="
								pasosForm.controls['descripcion'].errors[
									'maxlength'
								]
							"
							class="text-sm"
							>No superar los 500 carácteres</span
						><span
							*ngIf="
								pasosForm.controls['descripcion'].errors[
									'minlength'
								]
							"
							>Debe superar los 10 carácteres</span
						>
						<span
							*ngIf="
								pasosForm.controls['descripcion'].errors[
									'required'
								]
							"
							>Ingrese la descripción del paso de la receta</span
						>
					</small>
				</div>
			</div>
		</form>
	</ng-template>
	<ng-template pTemplate="footer">
		<button
			pButton
			label="Agregar"
			(click)="agregarPasoReceta()"
			[disabled]="pasosForm.invalid"
		></button>
	</ng-template>
</p-dialog>

<p-dialog
	header="Header"
	[(visible)]="dialogConfirmar"
	[breakpoints]="{ '1200px': '80vw' }"
	[modal]="true"
	[style]="{ width: '20vw', height: 'auto' }"
	[draggable]="false"
	[resizable]="false"
	[closable]="false"
>
	<ng-template pTemplate="header">
		<span class="text-xl font-bold text-center"
			>¿Crear receta {{ Receta.nombre }}?</span
		>
	</ng-template>

	<ng-template pTemplate="footer">
		<p-button
			styleClass="p-button-text"
			label="Cancelar"
			(click)="cerrarDialogConfirmar()"
		></p-button>
		<p-button label="Confirmar" (click)="crearReceta()"></p-button>
	</ng-template>
</p-dialog>

<app-dialog-ver-producto
	*ngIf="dialogVerProducto"
	[visible]="dialogVerProducto"
	[id_producto]="idProductoVer"
>
</app-dialog-ver-producto>
