.input-buscar {
	display: flex;
	margin-bottom: 1rem;
	input {
		width: 100%;
	}
}

.items-list {
	height: 53vh;
	max-height: min-content;
	overflow-y: auto;
	overflow-x: hidden;
}

.items-list .container {
	width: 100%;
}
