.input-buscar {
	display: flex;
	margin-bottom: 1rem;

	input {
		width: 100%;
	}
}

.items-list {
	height: 55vh;
	max-height: min-content;
	overflow-y: auto;
	overflow-x: hidden;
}

.items-list .container {
	width: 100%;
}

@media (max-height: 961px) {
	.items-list {
		height: 45vh;
	}
}
