<p-sidebar [(visible)]="sidebarVisible">
	<ng-template pTemplate="header">
		<h2>Menú</h2>
	</ng-template>
	<ng-template pTemplate="content"
		><div (click)="sidebarVisible = false">
			<p-menu [model]="menuItems"></p-menu>
		</div>

		<div class="flex align-items-center">
			<p class="mr-3">Modo Oscuro</p>
			<p-inputSwitch
				[(ngModel)]="themeChecked"
				(click)="changeTheme()"
			></p-inputSwitch>
		</div>
	</ng-template>
	<ng-template pTemplate="footer">
		<p class="font-logo">SmartPlate</p>
	</ng-template>
</p-sidebar>
