<p-sidebar [(visible)]="sidebarVisible">
	<ng-template pTemplate="header">
		<h2>Menú</h2>
	</ng-template>
	<ng-template pTemplate="content">
		<div (click)="sidebarVisible = false">
			<p-menu [model]="menuItems"></p-menu>
		</div>

		<div class="flex align-items-center">
			<p class="mr-3">Modo Oscuro</p>
			<i class="pi pi-sun pr-1"></i>
			<p-inputSwitch
				[(ngModel)]="themeChecked"
				(click)="changeTheme()"
			></p-inputSwitch
			><i class="pi pi-moon pl-1"></i>
		</div>
	</ng-template>

	<ng-template pTemplate="footer">
		<p-button
			icon="pi pi-sign-out"
			label="Cerrar sesión"
			(click)="logout()"
		></p-button>
		<p-divider></p-divider>
		<p class="font-logo">SmartPlate</p>
	</ng-template>
</p-sidebar>
