<div class="item flex flex-wrap" id="{{ receta.id_preparacion }}">
	<div class="flex justify-content-center col-12 p-0">
		<p
			class="text-bold item-title"
			pTooltip="Ver {{ receta.nombre }}"
			tooltipPosition="top"
			(click)="verReceta()"
		>
			{{ receta.nombre }}
		</p>
	</div>
	<div
		class="img-container .img-receta align-items-center col-6 sm:col-5 md:col-5 lg:col-5"
		(click)="verReceta()"
	>
		<img
			[src]="imgRecetaUrl + '/' + this.receta.id_preparacion + '.jpg'"
			alt="{{ receta.nombre }}"
			class="info-image shadow-2"
		/>
	</div>
	<div
		class="flex align-content-between flex-wrap col-6 sm:col-7 md:col-7 lg:col-7"
	>
		<div class="col-12 p-0">
			<p>
				<span class="font-medium">Cantidad: </span>
				{{ receta.cantidad }}
				{{ receta.nombre_unidad }}
			</p>
		</div>
		<div class="col-12 p-0">
			<p>
				<span class="font-medium">Calorías: </span>
				{{ receta.kcal }} Kcal
			</p>
		</div>
	</div>

	<div class="col-12">
		<form [formGroup]="formRecetaRecomendado">
			<p-dropdown
				appendTo="body"
				pTooltip="Elegir momento del dia"
				tooltipPosition="bottom"
				formControlName="momento_dia"
				[options]="momentos_dia"
				optionLabel="nombre"
			></p-dropdown>
		</form>
	</div>
</div>

<app-dialog-ver-receta
	*ngIf="dialogVerReceta"
	[visible]="dialogVerReceta"
	[id_preparacion]="idRecetaVer"
>
</app-dialog-ver-receta>
